-
    const headers = ['ID', 'Добавлена', 'Краткое название', 'ИНН', 'ОГРН', 'ОКПО', 'Тип', 'Действия']

    const cols = [
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Буратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино БанкБуратино Банк', '7719886937', '1147746927130', '11607343', 'Иной тип пользователя'],
        },
    ]