$primary_font: 'Lato', sans-serif;

// colors
$dark_grey: #333333;
$company_grey: #454644;
$primary_text: $dark_grey;
$green: #84b143;
$red: #C41D39;
$devide_line: #D0D0D0;
$color_border: #D0D0D0;