header.header
  .l-default
    .header__wrapper
      .header__logo
        +svgColor('logo')
      .header__lang
        .header__lang-chosen
        .header__lang-option RU
      .header__acc
        .header__acc-user
          +svgMono('user')
        .header__acc-name TEST ACC
        .header__acc-logout
          +svgMono('logout')
