.ico-mono-a2a {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-add-doc {
  width: 1em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-add-fl {
  width: 1em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-add-ur {
  width: 1em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-add {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-admin {
  width: 1.07em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-arrow-dropdown {
  width: 1.43em;
  height: 1em;
  fill: #919497;
}
.ico-mono-back {
  width: 1em;
  height: 1em;
  fill: #919497;
}
.ico-mono-checklist {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-close {
  width: 1.04em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-delete {
  width: 0.96em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-documents {
  width: 1.07em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-download-action {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-download {
  width: 1em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-edit-n {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-edit {
  width: 1.04em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-info-checked {
  width: 0.96em;
  height: 1em;
  fill: #D0D0D0;
}
.ico-mono-install {
  width: 1em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-kbki {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-list-icon {
  width: 1em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-list {
  width: 0.97em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-lk {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-logout {
  width: 1em;
  height: 1em;
  fill: #919497;
}
.ico-mono-new-request {
  width: 1em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-print {
  width: 0.96em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-registration {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-search {
  width: 1.03em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-settings-action {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-settings {
  width: 1.07em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-setup {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-upload {
  width: 0.96em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-user {
  width: 0.88em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-users {
  width: 1.04em;
  height: 1em;
  fill: #696B6F;
}
