-
    const status_info = [
        {
            title: 'Организация',
            text: 'ID: 1',
            class: '',
        },
        {
            title: 'Файл',
            text: 'Front-2255252-252521.zip',
            class: 'red',
        },
        {
            title: 'Дата / время начала загрузки',
            text: '',
            class: '',
        },
        {
            title: 'Дата / время окончания загрузки',
            text: '22.07.2021 20:35:10',
            class: '',
        },
        {
            title: 'Количество документов в пакете',
            text: '1',
            class: '',
        },
        {
            title: 'Дата / время начала обработки',
            text: '21.07.2021 11:35:10',
            class: '',
        },
        {
            title: 'Дата / время нокончания обработки',
            text: '21.07.2021 11:35:31',
            class: '',
        },
        {
            title: 'Отчет о загрузке',
            text: 'XML',
            class: 'underline',
        },
    ]

    const status_document = [
        {
            title: 'Файл',
            text: 'BRS FRONT 20210722 20 24 .xml',
            class: 'red underline',
        },
        {
            title: 'Тип содержимого',
            text: 'Выгрузка КИ в формате КБРС',
        },
        {
            title: 'Состояния обработки данных',
            text: 'обработка завершена',
        },
    ]
 
    const headers = ['Статус', 'Файл', 'Дата/время загрузки', 'Загружено', 'Действия']

    const cols = [
        {
            row: ['checked', 'Front-2255252-252521.zip', '20.08.2018 16:28:46', 'ООО «ФК «Конгламерат»»'],
        },
        {
            row: ['inprocess', 'Front-2255252-252521.zip', '20.08.2018 16:28:46', 'ООО «ФК «Конгламерат»»'],
        },
        {
            row: ['attention-checked', 'Front-2255252-252521.zip', '20.08.2018 16:28:46', 'ООО «ФК «Конгламерат»»'],
        },
        {
            row: ['attention', 'Front-2255252-252521.zip', '20.08.2018 16:28:46', 'ООО «ФК «Конгламерат»»'],
        },
        {
            row: ['info-checked', 'Front-2255252-252521.zip', '20.08.2018 16:28:46', 'ООО «ФК «Конгламерат»»'],
        },
        {
            row: ['cancel', 'Front-2255252-252521.zip', '20.08.2018 16:28:46', 'ООО «ФК «Конгламерат»»'],
        },
        {
            row: ['checked', 'Front-2255252-252521.zip', '20.08.2018 16:28:46', 'ООО «ФК «Конгламерат»»'],
        },
        {
            row: ['checked', 'Front-2255252-252521.zip', '20.08.2018 16:28:46', 'ООО «ФК «Конгламерат»»'],
        },
        {
            row: ['checked', 'Front-2255252-252521.zip', '20.08.2018 16:28:46', 'ООО «ФК «Конгламерат»»'],
        },
        {
            row: ['checked', 'Front-2255252-252521.zip', '20.08.2018 16:28:46', 'ООО «ФК «Конгламерат»»'],
        },
    ]