.status-popup.status-popup-comment-message#status-popup-comment-message.info
    .status-popup-comment-message__top
    .status-popup-comment-message__title Комментарий добавлен!
    .status-popup-comment-message__text Мы добавили ваш комментарий. Перейдите и посмотрите его!
    a.status-popup-comment-message__btn.btn.btn--green(data-fancybox-close) Закрыть

.status-popup.status-popup-comment-message#status-popup-comment-message.error
    .status-popup-comment-message__top
    .status-popup-comment-message__title Комментарий добавлен!
    .status-popup-comment-message__text Мы добавили ваш комментарий. Перейдите и посмотрите его!
    a.status-popup-comment-message__btn.btn.btn--green(data-fancybox-close) Закрыть

.status-popup.status-popup-comment-message#status-popup-comment-message.warning
    .status-popup-comment-message__top
    .status-popup-comment-message__title Комментарий добавлен!
    .status-popup-comment-message__text Мы добавили ваш комментарий. Перейдите и посмотрите его!
    a.status-popup-comment-message__btn.btn.btn--green(data-fancybox-close) Закрыть

.status-popup.status-popup-comment-message#status-popup-comment-message.ok
    .status-popup-comment-message__top
    .status-popup-comment-message__title Комментарий добавлен!
    .status-popup-comment-message__text Мы добавили ваш комментарий. Перейдите и посмотрите его!
    a.status-popup-comment-message__btn.btn.btn--green(data-fancybox-close) Закрыть