.menu {
    overflow-y: auto;
    min-height: 100vh;
    height: calc(100vh - 203px);
    padding-bottom: 20px;
    &__submenu {
        display: flex;
        flex-direction: column;
        width: calc(100% - 32px);
        margin-left: auto;     
        background: #fff;

        &-item {
            @include tr('all');
            position: relative;
            height: 0;
            overflow: hidden;
            padding: 0;
            border-bottom: none;
            border-left: 2px solid #fff;

            &:hover {
                color: $red;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: -16px;
                width: 1px;
                height: calc(100% + 1px);
                background: #D0D0D0;
            }

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -16px;
                width: 14px;
                height: 2px;
                background: #D0D0D0;
                transform: translateY(-50%);
            }

            &:last-child {
                &:after {
                    height: 50%;
                }
            }

            &.active {
                color: $red;
                border-left: 2px solid $red;
            }
        }
    }

    &__item {
        background: #EAEDF3;
        &-content {
            display: flex;
            align-items: center;
            padding: 26px 14px 26px 32px;
            background: #fff;
            border-bottom: 1px solid #eaedf3;
        }

        &-icon {
            font-size: 32px;
            line-height: 1;
            margin-right: 24px;
        }

        &-arrow {
            @include tr('all');
            font-size: 10px;
            line-height: 1;
            margin-left: auto;
            cursor: pointer;
            transform: rotate(180deg);

            svg {
                fill: $green;
            }
        }

        &-text {
            font-size: 15px;
            line-height: 19px;
            font-weight: 600;

            &:hover {
                color: $red;
            }
        }

        &.active {
            border-bottom: 1px solid #eaedf3;
            .menu {
                &__item {
                    &-icon {
                        svg {
                            fill: $red;
                        }
                    }

                    &-arrow {
                        transform: rotate(0);

                        svg {
                            fill: #919497;
                        }
                    }
                }

                &__submenu {
                    &-item {
                        height: auto;
                        padding: 11px 24px;
                        overflow: visible;
                        border-bottom: 1px solid #eaedf3;
                    }
                }
            }
        }
    }

    &-documents {
        background: #f7f9f9;
        border-radius: 8px 4px 4px 8px;
        margin: 8px;

        &__item {
            display: flex;
            align-items: flex-start;
            margin-bottom: 8px;
            padding: 8px;

            &-status {
                margin-right: 16px;
                &:after {
                    display: flex;
                    width: 24px;
                    height: 24px;
                }
            }

            &-name {
                position: relative;
                width: auto;
                font-size: 13px;
                line-height: 15px;
                margin-bottom: 8px;
                padding-bottom: 2px;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: .5px;
                    background: #333333;
                }
            }

            &-date--title, &-date, &-company {
                font-size: 12px;
                line-height: 16px;
            }

            &:hover {
                background: #EAEDF3;
            }

            &.checked {
                .menu-documents {
                    &__item {
                        &-status {
                            &:after {
                                content: '';
                                background: url('.././img/svg/checked.svg');
                                background-repeat: no-repeat;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }

            &.inprocess {
                .menu-documents {
                    &__item {
                        &-status {
                            &:after {
                                content: '';
                                background: url('.././img/svg/question.svg');
                                background-repeat: no-repeat;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }

            &.checked-false {
                .menu-documents {
                    &__item {
                        &-status {
                            &:after {
                                content: '';
                                background: url('.././img/svg/checked-false.svg');
                                background-repeat: no-repeat;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }

            &.info {
                .menu-documents {
                    &__item {
                        &-status {
                            &:after {
                                content: '';
                                background: url('.././img/svg/info.svg');
                                background-repeat: no-repeat;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }

            &.info-checked {
                .menu-documents {
                    &__item {
                        &-status {
                            &:after {
                                content: '';
                                background: url('.././img/svg/info-checked.svg');
                                background-repeat: no-repeat;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }

            &.attention {
                .menu-documents {
                    &__item {
                        &-status {
                            &:after {
                                content: '';
                                background: url('.././img/svg/attention.svg');
                                background-repeat: no-repeat;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }

            &.attention-checked {
                .menu-documents {
                    &__item {
                        &-status {
                            &:after {
                                content: '';
                                background: url('.././img/svg/attention-checked.svg');
                                background-repeat: no-repeat;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}