-
    const menu = [
        {
            href: '',
            text: 'Пользовательская информация',
            iсon: 'lk',
            class: 'active',
            submenu: [
                {
                    href: '',
                    text: 'Личные данные',
                    class: 'active',
                },
                {
                    href: '',
                    text: 'Сертификаты',
                },
                {
                    href: '',
                    text: 'Параметры запросов БКИ',
                },
                {
                    href: '',
                    text: 'Параметры запросов ЦККИ',
                },
                {
                    href: '',
                    text: 'Подписка на рассылки',
                },
                {
                    href: '',
                    text: 'Диагностическая страница',
                }
            ]
        },
        {
            href: '',
            text: 'Администрирование',
            iсon: 'admin',
            submenu: [
                {
                    href: '',
                    text: 'Организации',
                },
                {
                    href: '',
                    text: 'Пользователи',
                },
                {
                    href: '',
                    text: 'Регистрация',
                },
                {
                    href: '',
                    text: 'Запросы сертификатов',
                }
            ]
        },
        {
            href: '',
            text: 'Настройки',
            iсon: 'settings',
            submenu: [
                {
                    href: '',
                    text: 'Параметры запросов БКИ',
                },
                {
                    href: '',
                    text: 'Параметры запросов ЦККИ',
                }
            ]
        },
        {
            href: '',
            text: 'Документы',
            iсon: 'documents',
            submenu: [
                {
                    href: '',
                    text: 'Договорная документация',
                },
                {
                    href: '',
                    text: 'Документация разработчика',
                },
                {
                    href: '',
                    text: 'Руководства пользователя',
                }
            ]
        },
        {
            href: '',
            text: 'А2А',
            iсon: 'a2a',
            submenu: [
                {
                    href: '',
                    text: 'Запросы для ФУ',
                },
                {
                    href: '',
                    text: 'Загрузки',
                },
                {
                    href: '',
                    text: 'Редактор КИ',
                },
                {
                    href: '',
                    text: 'Проверка КИ (Для контрагенов по субъектам)',
                },
                {
                    href: '',
                    text: 'Запросы ЦККИ',
                },
                {
                    href: '',
                    text: 'Запросы Бюро (Запросы к сервисам)',
                }
            ]
        },
        {
            href: '',
            text: 'КБКИ',
            iсon: 'kbki',
            submenu: [
                {
                    href: '',
                    text: 'Загрузки',
                },
                {
                    href: '',
                    text: 'Сервис 1',
                },
                {
                    href: '',
                    text: 'Сервис 2',
                },
                {
                    href: '',
                    text: 'Сервис 3',
                },
            ]
        },
        {
            href: '',
            text: 'Поиск информации',
            iсon: 'search',
            submenu: [
                {
                    href: '',
                    text: 'Сервис 1',
                },
                {
                    href: '',
                    text: 'Сервис 2',
                },
            ]
        }
    ]

    const menu_documents = [
        {
            status: 'checked',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'attention-checked ',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'attention',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'info',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'info-checked',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'checked-false',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        },
        {
            status: 'inprocess',
            name: 'Front-2255252-252521.zip',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'ООО «ФК «Конгламерат»»',
        }
    ]

    const edit = [
        {
            status: 'checked',
            name: 'Хрущев Евгения Николаевна',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'Кредитный отчет получен',
        },
        {
            status: 'inprocess',
            name: 'Хрущев Евгения Николаевна',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'Кредитный отчет получен',
        },
        {
            status: 'attention-checked ',
            name: 'Хрущев Евгения Николаевна',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'Кредитный отчет получен',
        },
        {
            status: 'attention',
            name: 'Хрущев Евгения Николаевна',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'Кредитный отчет получен',
        },
        {
            status: 'inprocess',
            name: 'Хрущев Евгения Николаевна',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'Кредитный отчет получен',
        },
        {
            status: 'attention-checked ',
            name: 'Хрущев Евгения Николаевна',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'Кредитный отчет получен',
        },
        {
            status: 'attention',
            name: 'Хрущев Евгения Николаевна',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'Кредитный отчет получен',
        },{
            status: 'inprocess',
            name: 'Хрущев Евгения Николаевна',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'Кредитный отчет получен',
        },
        {
            status: 'attention-checked ',
            name: 'Хрущев Евгения Николаевна',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'Кредитный отчет получен',
        },
        {
            status: 'attention',
            name: 'Хрущев Евгения Николаевна',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'Кредитный отчет получен',
        },{
            status: 'inprocess',
            name: 'Хрущев Евгения Николаевна',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'Кредитный отчет получен',
        },
        {
            status: 'attention-checked ',
            name: 'Хрущев Евгения Николаевна',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'Кредитный отчет получен',
        },
        {
            status: 'attention',
            name: 'Хрущев Евгения Николаевна',
            date_title: 'Дата/время загрузки:',
            date: '23.07.2021 15:28:56',
            company: 'Кредитный отчет получен',
        },
    ]