extends ../layouts/default
include ../helpers/_mixins

block variables
  - const title = "Попап обращение физ лица"

block content
      include ../../blocks/modules/loader/loader.pug
      include ../../blocks/modules/header/header.pug
      main.main
        .content
          include ../../blocks/modules/popup/popup-fiz.pug

block scripts
  script(defer src="./js/vendor.js")
  script(defer src="./js/main.js")