-
    const certificates = [
        {
            icon: 'new-request',
            text: 'Новый запрос',
            type: 'fancy',
            href: '#popup-certificate',
        },
        {
            icon: 'install',
            text: 'Установить текущий сертификат УЦ',
        },
        {
            icon: 'download',
            text: 'Скачать текущий сертификат УЦ',
        },
        {
            icon: 'list-icon',
            text: 'Текущий список отозванных сертификатов УЦ',
        }
    ]

    const headers = ['ID', 'Дата запроса', 'Владелец', 'Статус', 'Действия']

    const cols = [
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Иванов Петр Семенович ', 'Выдан'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Иванов Петр Семенович ', 'Выдан'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Иванов Петр Семенович ', 'Выдан'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Иванов Петр Семенович ', 'Выдан'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Иванов Петр Семенович ', 'Выдан'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Иванов Петр Семенович ', 'Выдан'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Иванов Петр Семенович ', 'Выдан'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Иванов Петр Семенович ', 'Выдан'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Иванов Петр Семенович ', 'Выдан'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Иванов Петр Семенович ', 'Выдан'],
        },
        {
            row: ['10000001', '20.08.2018 16:28:46', 'Иванов Петр Семенович ', 'Выдан'],
        }
    ]