section.documentation-develop
    .l-content 
        h1.documentation-develop__title.title.title--h1 Документация для разработчика
        .caption Сервисы АС Бюро
        .documentation-develop__caption
            .documentation-develop__caption-icon
                +svgColor('pdf')
            .documentation-develop__caption-text Порядок выполнения запросов
        select.select.select--green(name="type")  
            option(selected="selected") Любой
            option Любой
            option Любой
            option Любой
        select.select(name="type")  
            option(selected="selected") Любой
            option Любой
            option Любой
            option Любой
        .documentation-develop__item
            .documentation-develop__item-img
                +webp(['documentation/search'], 'png', 'lazy')
            .documentation-develop__item-info
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('scheme')
                    .documentation-develop__item-text Схема (XSD) XML-документа запроса (<a href="">entity-tyes.xsd</a>, <a href="">request.xsd</a>)
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('colors')
                    .documentation-develop__item-text Порядок выполнения запросов
        .documentation-develop__item
            .documentation-develop__item-img
                +webp(['documentation/checked'], 'png', 'lazy')
            .documentation-develop__item-info
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('scheme')
                    .documentation-develop__item-text Схема (XSD) XML-документа запроса (<a href="">entity-tyes.xsd</a>, <a href="">request.xsd</a>)
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('colors')
                    .documentation-develop__item-text Порядок выполнения запросов
        .documentation-develop__item
            .documentation-develop__item-img
                +webp(['documentation/lamp'], 'png', 'lazy')
            .documentation-develop__item-info
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        img(src="img/svg/xml.svg", alt="")
                    .documentation-develop__item-text Схема (XSD) XML-документа запроса (<a href="">entity-tyes.xsd</a>, <a href="">request.xsd</a>)
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        img(src="img/svg/pdf.svg", alt="")
                    .documentation-develop__item-text Порядок выполнения запросов
        .documentation-develop__text.documentation-develop__text--grey Пакетный запрос/ответ — только для платформы 3.00
        .documentation-develop__caption
            .documentation-develop__caption-icon
                +svgColor('pdf')
            .documentation-develop__caption-text Описание сервиса пакетный запрос
        .documentation-develop__item
            .documentation-develop__item-img
                +webp(['documentation/search-batch'], 'png', 'lazy')
            .documentation-develop__item-info
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('scheme')
                    .documentation-develop__item-text Схема (XSD) XML-документа запроса (<a href="">entity-tyes.xsd</a>, <a href="">request.xsd</a>)
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('colors')
                    .documentation-develop__item-text Порядок выполнения запросов
        .documentation-develop__item
            .documentation-develop__item-img
                +webp(['documentation/checked-batch'], 'png', 'lazy')
            .documentation-develop__item-info
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('scheme')
                    .documentation-develop__item-text Схема (XSD) XML-документа запроса (<a href="">entity-tyes.xsd</a>, <a href="">request.xsd</a>)
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('colors')
                    .documentation-develop__item-text Порядок выполнения запросов
        .caption Загрузка информации в бюро
        select.select.select--green(name="type")  
            option(selected="selected") Любой
            option Любой
            option Любой
            option Любой
        .documentation-develop__caption
            .documentation-develop__caption-icon
                +svgColor('pdf')
            .documentation-develop__caption-text Рекомендации по формированию выгрузки
        select.select(name="type")  
            option(selected="selected") Любой
            option Любой
            option Любой
            option Любой
        .documentation-develop__item
            .documentation-develop__item-img
                +webp(['documentation/db-new'], 'png', 'lazy')
            .documentation-develop__item-info
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('scheme')
                    .documentation-develop__item-text Схема (XSD) XML-документа запроса (<a href="">entity-tyes.xsd</a>, <a href="">request.xsd</a>)
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('colors')
                    .documentation-develop__item-text Порядок выполнения запросов
        .documentation-develop__item
            .documentation-develop__item-img
                +webp(['documentation/db-old'], 'png', 'lazy')
            .documentation-develop__item-info
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('scheme')
                    .documentation-develop__item-text Схема (XSD) XML-документа запроса (<a href="">entity-tyes.xsd</a>, <a href="">request.xsd</a>)
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('colors')
                    .documentation-develop__item-text Порядок выполнения запросов
        .documentation-develop__text.documentation-develop__text--grey Результаты обработки выгрузки
        .documentation-develop__item
            .documentation-develop__item-img
                +webp(['documentation/checklist'], 'png', 'lazy')
            .documentation-develop__item-info
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('scheme')
                    .documentation-develop__item-text Схема (XSD) XML-документа запроса (<a href="">entity-tyes.xsd</a>, <a href="">request.xsd</a>)
                .documentation-develop__item-doc
                    .documentation-develop__item-icon
                        +svgColor('colors')
                    .documentation-develop__item-text Порядок выполнения запросов
        
        